**Retry of Best Regression**<br>
> Ordinary Least Squares

**0. Setup**

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

df = pd.read_csv('TableSet.csv')
df.drop(columns=['Unnamed: 0',"ROUTE"],inplace=True)

**1. Correct Categorical Features**

In [ ]:
df['HOUR'] = df['HOUR'].astype(str)
df['WEEKDAY'] = df['WEEKDAY'].astype(str)
df['MONTH'] = df['MONTH'].astype(str)
df.dtypes

HOUR                              object
WEEKDAY                           object
MONTH                             object
MILEPOINT                        float64
CITY_ID                            int64
COUNTY_ID                          int64
CRASH_SEVERITY_ID                  int64
WORK_ZONE_RELATED                  int64
PEDESTRIAN_INVOLVED                int64
BICYCLIST_INVOLVED                 int64
MOTORCYCLE_INVOLVED                int64
IMPROPER_RESTRAINT                 int64
UNRESTRAINED                       int64
DUI                                int64
INTERSECTION_RELATED               int64
WILD_ANIMAL_RELATED                int64
DOMESTIC_ANIMAL_RELATED            int64
OVERTURN_ROLLOVER                  int64
COMMERCIAL_MOTOR_VEH_INVOLVED      int64
TEENAGE_DRIVER_INVOLVED            int64
OLDER_DRIVER_INVOLVED              int64
NIGHT_DARK_CONDITION               int64
SINGLE_VEHICLE                     int64
DISTRACTED_DRIVING                 int64
DROWSY_DRIVING                     int64
ROADWAY_DEPARTURE                  int64
dtype: object

**2. Dummie Code Categories**

In [ ]:
for col in df:
          if not pd.api.types.is_numeric_dtype(df[col]) and col != 'CRASH_SEVERITY_ID':
            df = pd.get_dummies(df, columns=[col])
df.head()

,MILEPOINT,CITY_ID,COUNTY_ID,CRASH_SEVERITY_ID,WORK_ZONE_RELATED,PEDESTRIAN_INVOLVED,BICYCLIST_INVOLVED,MOTORCYCLE_INVOLVED,IMPROPER_RESTRAINT,UNRESTRAINED,...,MONTH_11,MONTH_12,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9
0,5.0,323,18,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,3.5,95,18,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0.0,95,18,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0.0,95,18,3,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1.0,95,18,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
y = df['CRASH_SEVERITY_ID'] # Label
X = df.drop(columns=['CRASH_SEVERITY_ID','CITY_ID','COUNTY_ID']) # Features
X

,MILEPOINT,WORK_ZONE_RELATED,PEDESTRIAN_INVOLVED,BICYCLIST_INVOLVED,MOTORCYCLE_INVOLVED,IMPROPER_RESTRAINT,UNRESTRAINED,DUI,INTERSECTION_RELATED,WILD_ANIMAL_RELATED,...,MONTH_11,MONTH_12,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9
0,5.0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,3.5,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,0.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0.0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244197,0.0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
244198,1.5,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244199,1.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244200,0.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
244201,0.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

**4. Fit and Evaluate**

As you can see we, after we had correctly gone about treating our categorical values properly we get nothing even close to .803. I will leave all additional evaluation behind

In [ ]:
model = sm.OLS(y, X).fit()

# View results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      CRASH_SEVERITY_ID   R-squared:                       0.189
Model:                            OLS   Adj. R-squared:                  0.188
Method:                 Least Squares   F-statistic:                     945.9
Date:                Fri, 08 Apr 2022   Prob (F-statistic):               0.00
Time:                        00:19:46   Log-Likelihood:            -2.5682e+05
No. Observations:              244202   AIC:                         5.138e+05
Df Residuals:                  244141   BIC:                         5.144e+05
Df Model:                          60
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
MILEPOINT                         0.0164      0.001     28.170      0.000       0.015       0.018
WORK_ZONE_RELATED                 0.0030      0.007      0.447      0.655      -0.010       0.016
PEDESTRIAN_INVOLVED               1.5347      0.014    113.641      0.000       1.508       1.561
BICYCLIST_INVOLVED                1.3736      0.016     84.256      0.000       1.342       1.406
MOTORCYCLE_INVOLVED               1.2257      0.011    111.797      0.000       1.204       1.247
IMPROPER_RESTRAINT                0.3423      0.011     30.005      0.000       0.320       0.365
UNRESTRAINED                      0.4961      0.009     53.908      0.000       0.478       0.514
DUI                               0.3369      0.008     42.123      0.000       0.321       0.353
INTERSECTION_RELATED              0.1122      0.003     36.401      0.000       0.106       0.118
WILD_ANIMAL_RELATED              -0.1179      0.009    -12.450      0.000      -0.136      -0.099
DOMESTIC_ANIMAL_RELATED           0.0184      0.020      0.899      0.369      -0.022       0.058
OVERTURN_ROLLOVER                 0.7535      0.008     91.177      0.000       0.737       0.770
COMMERCIAL_MOTOR_VEH_INVOLVED    -0.0622      0.006    -10.679      0.000      -0.074      -0.051
TEENAGE_DRIVER_INVOLVED           0.0101      0.004      2.885      0.004       0.003       0.017
OLDER_DRIVER_INVOLVED             0.0775      0.004     18.441      0.000       0.069       0.086
NIGHT_DARK_CONDITION              0.0198      0.006      3.531      0.000       0.009       0.031
SINGLE_VEHICLE                   -0.1506      0.007    -23.015      0.000      -0.163      -0.138
DISTRACTED_DRIVING                0.1043      0.005     21.241      0.000       0.095       0.114
DROWSY_DRIVING                    0.1699      0.011     16.122      0.000       0.149       0.191
ROADWAY_DEPARTURE                 0.1191      0.007     17.944      0.000       0.106       0.132
HOUR_0                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_1                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_10                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_11                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_12                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_13                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_14                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_15                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_16                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_17                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_18                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_19                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_2                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_20                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_21                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_22                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_23                        1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_3                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_4                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_5                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_6                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_7                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_8                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
HOUR_9                         1.336e+10   7.58e+09      1.763      0.078   -1.49e+09    2.82e+10
WEEKDAY_0                     -7.487e+10   1.82e+10     -4.104      0.000   -1.11e+11   -3.91e+10
WEEKDAY_1                     -7.487e+10   1.82e+10     -4.104      0.000   -1.11e+11   -3.91e+10
WEEKDAY_2                     -7.487e+10   1.82e+10     -4.104      0.000   -1.11e+11   -3.91e+10
WEEKDAY_3                     -7.487e+10   1.82e+10     -4.104      0.000   -1.11e+11   -3.91e+10
WEEKDAY_4                     -7.487e+10   1.82e+10     -4.104      0.000   -1.11e+11   -3.91e+10
WEEKDAY_5                     -7.487e+10   1.82e+10     -4.104      0.000   -1.11e+11   -3.91e+10
WEEKDAY_6                     -7.487e+10   1.82e+10     -4.104      0.000   -1.11e+11   -3.91e+10
MONTH_1                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_10                       6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_11                       6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_12                       6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_2                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_3                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_4                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_5                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_6                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_7                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_8                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
MONTH_9                        6.151e+10   1.93e+10      3.179      0.001    2.36e+10    9.94e+10
==============================================================================
Omnibus:                    67587.599   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           165707.194
Skew:                           1.543   Prob(JB):                         0.00
Kurtosis:                       5.602   Cond. No.                     2.64e+14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.21e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.